
@{
    ViewData["Title"] = "Contact";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<h1>Contact</h1>

<a target="_blank" href="https://www.google.com/maps/place/39%C2%B058'56.4%22N+32%C2%B044'38.3%22E/39.982343,32.7432523,18z/data=!3m1!4b1!4m4!3m3!8m2!3d39.982343!4d32.743984?entry=ttu">Tıkla gelsin</a>



<a href="tel:123-456-7890">Telefon</a>